.grid {
    display: grid;
    gap: 1em;
}
.search-sort-grid {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-auto-rows: 1fr;
    gap: 1em;
}

.search-sort-grid select {
    -webkit-appearance: menulist-button;
}

.search-label {
    position: relative;
}

.search-label::before {
    padding-left: 5px;
    content: '🔎';
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* font-size: 1em; */
}

.search {
    width: 100%;
    font-size: 1em;
    padding: 0 2em;
}